/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

  /********
    End of CSS reset
  ********/

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  color: rgb(34, 34, 34);
}

strong {
  font-weight: bold;
}


/*Navigation*/
.header {
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  height: 121px;
  width: 100%;
}

.topheader {
  display: grid;
  grid-template-columns: 125px 50% 1fr;
  grid-template-rows: 80px;
  grid-gap: 20px;
  min-width: 680px;
}

/* logo */

.logo {
  height: 60px;
  padding: 20px 10px 0 10px;
  align-self: center;
}

/* Searching area */

.search {
  align-self: center;
  margin-top: 5px;
}
.s-area {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(0,0,0,0.1);
  max-width: 650px;
  height: 45px;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.s-field {
  height: 87%;
  width: 95%;
  border: none;
  font-size: 16px;
  padding: 3px 3px 3px 15px;
  background-color: rgb(255, 255, 255);
}

textarea:focus, input:focus{
      outline: none;
  }


/* account */

.account {
  justify-self: end;
  align-self: center;
  margin: 5px 40px 0 0;
}

.sign-in {
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.googleapps {
  display: inline-block;
  transform: translateX(-10px) translateY(5px);
  opacity: .55;
}

.navr a:hover {
  opacity: .9;
}

/* menu */

.menu {
  margin-left: 145px;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
  white-space: nowrap;
}

.menu li {
  padding: 0 15px 15px 15px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

#current {
  color: rgb(26, 115, 232);
  border-bottom: 3px solid rgb(26, 115, 232);
  padding-bottom: 15px;
}

#spaced {
  margin-left: 30px;
}

.menu a:hover {
  color: rgb(34, 34, 34);
}

/*footer*/

.footer{
  background-color: rgb(242, 242, 242);
  height: 75px;
  border-top: 0.5px solid rgba(0,0,0,0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* footer1 */
.footer1 {
  margin-left: 150px;
  color: rgba(0,0,0,0.5);
  padding: 5px 0 5px 5px;
  line-height: 25px;
}

.country {
  font-size: 14px;
  padding: 5px 0;
  padding-right: 10px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.dot {
  background-color: rgb(158, 158, 158);
  height: 9px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(12px) translateY(8px);
}

.location {
  font-size: 12px;
  margin-left: 23px;
  color: rgb(158, 158, 158);
  padding-right: 0;
}

.uploc {
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
}


/* footer 2 */
.footer2 {
  border-top: 0.5px solid rgba(0,0,0,0.1);
  line-height: 25px;
  padding: 5px 0 5px 5px;
  font-size: 12px;
}

.footer2 ul {
  padding-right: 25px;
  margin: 0 0 0 145px;
}

.footer a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

.footer a:hover {
  color: rgb(34, 34, 34);
}


.container {
  position: relative;
}

/* Main */

.main {
  margin: 20px 10px 20px 175px;
  word-wrap: break-word;
  width: 550px;
  line-height: 1.4;
  padding-bottom: 75px;
}

.nb-results {
  font-size: small;
  padding: 0 0 15px 0;
  color: rgb(128, 128, 128);
}

/* Top Stories */



.topstories {
  position: absolute;
  margin-left: -30px;
  display: grid;
  grid-template: 297px / 1fr 1fr 1fr;
  grid-column-gap: 12px;
  width: 645px;
}

.top {
  border: 0.5px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.top-content {
  padding: 15px 5px 15px 15px;
}

.topstories p {
  padding-bottom: 7px;
}

.title {
  color: rgba(34, 34, 34, 1);
  font-size: 18px;
  margin-bottom: 10px;
}

.top .title {
  padding-bottom: 30px;
}

.time {
  padding: 0 0 15px 0;
  color: rgb(128, 128, 128);
}

.right-arrow:before {
    content:'\25BA';
    margin-right: 10px;
}

.right-arrow {
  margin-top: 320px;
  color: rgba(26, 13, 171, 1);
}

.right-arrow a {
  color: rgba(26, 13, 171, 1);
}

.right-arrow a:hover {
  color: rgba(26, 13, 171, 1);
  text-decoration: underline;
}

/* Results */

.results {
  margin-top: 30px;
}

.site {
  color: rgba(26, 13, 171, 1);
  font-size: 18px;
  margin-bottom: 2px;
}

.url {
  color: rgba(0, 102, 33, 1);
  font-size: 14px;
  margin-bottom: 2px;
}

.desc {
  color: rgba(84, 84, 84, 1);
  font-size: small;
  margin-bottom: 25px;
}


/* Related Searches */

.related {
  display: grid;
  grid-template: 30px repeat(4, 20px) / 140px 140px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.related .title {
  grid-area: 1 / 1 / 2 / 3;
  align-self: start;
  justify-self: start;
}

.related a {
  color: rgba(26, 13, 171, 1);
}

.related a:hover {
  text-decoration: underline;
}

/* Nav End */

.foot {
  width: 330px;
  margin: 0 auto;
}

table {
    display: table;
    margin-bottom: 40px;
}

.navstart {
  background: url(https://www.google.fr/images/nav_logo242.webp) no-repeat;
  background-position: -24px 0;
  width: 28px;
  height: 40px;
}

.cur {
  width: 20px;
  height: 40px;
  background: url(https://www.google.fr/images/nav_logo242.webp) no-repeat;
  background-position: -53px 0;
}

.next {
  height: 40px;
  background: url(https://www.google.fr/images/nav_logo242.webp) no-repeat;
  background-position: -74px 0;
  width: 20px;
}

.navend {
  background: url(https://www.google.fr/images/nav_logo242.webp) no-repeat;
  background-position: -97px 0;
  width: 71px;
  height: 40px;
}

#cur {
  text-align: center;
}

#next {
  text-align: center;
}

#navend {
  text-align: right;
  color: rgb(66, 133, 244);
}

.foot a {
  color: rgb(66, 133, 244);
}

.foot a:hover {
  text-decoration: underline;
}
